<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="view/header :: header-css"></head>
<body>
<nav th:replace="view/header :: header"></nav>
<div class="container">
    <div class="row">
        <div th:replace="view/sidebar :: sidebar"></div>
        <div class="col-10 content">
            <h2 th:text="${title}"></h2>
            <b>About user</b>
            <table class="table table-striped">
                <thead class="thead-light">
                    <th scope="col">Id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Age</th>
                    <th scope="col">email</th>
                    <th scope="col">Role</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td >
                        <span th:each="role : ${user.roles}">
                        <span th:text="${role.name}"></span>
                        </span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="view/footer :: footer"></div>
</body>
</html>